.add-body, .edit-body {
    width: 700px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .make-course, .edit-course {
    font-size: 36px;
    margin-top: 10px;
  }
  
  .question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .add-items {
    order: 2;
  }
  
  .add-labels {
    text-align: left;
  }

  .add-fields, .edit-fields {
    font-size: 16px;
    margin-bottom: 10px;
    width: 676px;
  }
  
  .inputs {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);

  }

  .q-inputs {
    width: 25px;
  }

  .inputs:focus {
    background-color: cornsilk;
  }
  
  .textarea {
    font-family: "Raleway", sans-serif;
    padding-top: 10px;
  }
  
  .AddCourse__required {
    color: #a51414;
  }
  
  .AddCourse__error p {
    color: #a51414;
    margin-bottom: 5px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .item {
    order: 2;
  }
  
  label {
    float: left;
    padding: 0 1em;
  }
  
  .legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .legend-item {
    order: 2;
  }
  
  
  
  @media screen and (max-width: 500px) {
  
    .add-body, .edit-body {
        width: 400px; /* Can be in percentage also */
    }
  
    .add-fields, .edit-fields {
      width: 376px;
    }
    
  }