.add-body, .edit-body {
    width: 700px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .make-course, .edit-course {
    font-size: 36px;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: -2px;
  }
  
  .question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .add-items {
    order: 2;
  }
  
  .add-labels {
    text-align: left;
  }

  .add-fields, .edit-fields {
    font-size: 16px;
    margin-bottom: 10px;
    width: 676px;
  }
  
  .inputs {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(189, 189, 189);
  }

  .q-inputs {
    width: 75px;
  }

  .inputs:focus {
    background-color: #DAEBFE;
  }

  .add-body input[type="text"]
  /* .add-body input[type="number"] */
  {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid rgb(209, 20, 20);
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
  }

  .add-body input[type="text"]:focus {
    border-bottom: 1px bold rgb(55, 20, 209);
    border-bottom-width: 2px;
  }
  
  .textarea {
    font-family: "Raleway", sans-serif;
    padding-top: 10px;
  }
  
  .AddCourse__required {
    color: #a51414;
  }
  
  .AddCourse__error p {
    color: #a51414;
    margin-bottom: 5px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .item {
    order: 2;
  }
  
  label {
    float: left;
    padding: 0 1em;
    padding-left: 0;
  }
  
  .legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .legend-item {
    order: 2;
  }
    
  .legend-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-content: space-around;
  }

  .subs {
    order: 5;
  }
  
  @media screen and (max-width: 750px) {
  
    .add-body, .edit-body {
        width: 400px; /* Can be in percentage also */
    }
  
    .add-fields, .edit-fields {
      width: 376px;
    }

    .question {
      margin-bottom: 10px;
    }
    
  }

  @media screen and (max-width: 500px) {
    
    .add-body, .edit-body {
        width: 300px; /* Can be in percentage also */
        padding-top: 20px;
        font-size: 14px;
    }

    .make-course, .edit-course {
      font-size: 32px;
      letter-spacing: -2px;
      margin-top: 0;
    }
  
    .add-fields, .edit-fields {
      width: 93%;
    }

    .question {
      margin-bottom: 10px;
    }
    
    h2 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }

    .stu-teach {
      font-size: 14px
    }

    .subs {
      font-size: 12px;
    }
  }